<p>articulosasignados </p>
<mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <mat-paginator [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
        <ng-container matColumnDef="id_articulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id_articulo</th>
            <td mat-cell *matCellDef="let articulosasignados">{{articulosasignados.id_articulo}} </td>
          </ng-container>
      


      <ng-container matColumnDef="documento_a_quien_asignado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignado </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.documento_a_quien_asignado}} </td>
      </ng-container>
  
      <ng-container matColumnDef="fecha_asignacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Asignacion </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.fecha_asignacion}} </td>
      </ng-container>
     
      <ng-container matColumnDef="imei">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imei </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.imei}} </td>
      </ng-container>
      
      <ng-container matColumnDef="activo_fijo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Activofijo </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.activo_fijo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial</th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.serial}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.estado}} </td>
      </ng-container>
   
      <ng-container matColumnDef="codpunto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo Punto </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.codpunto}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.descripcion}} </td>
      </ng-container>
            
      <ng-container matColumnDef="nombre_cda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Cda </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.nombre_cda}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre_punto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Punto </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.nombre_punto}} </td>
      </ng-container>
 
      <ng-container matColumnDef="nombre_asignado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre asignado </th>
        <td mat-cell *matCellDef="let articulosasignados"> {{articulosasignados.nombre_asignado}} </td>
      </ng-container>

      

  <!--
      <ng-container matColumnDef="serialsimcard">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> serialsimcard </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.serialsimcar}} </td>
      </ng-container>
  
      <ng-container matColumnDef="numerocel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> numero_cel </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.numerocel}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="cod_operador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> cod_operador </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.cod_operador}} </td>
      </ng-container>
  
      
    -->
      
      
      
  <!--
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> descripcion </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.descripcion}} </td>
      </ng-container>-->
  <!--
      <ng-container matColumnDef="codzona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> codzona </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.codzona}} </td>
      </ng-container>
      
      <ng-container matColumnDef="codpunto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> codpunto </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.codpunto}} </td>
      </ng-container>
     
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.nombre}} </td>
      </ng-container>
      
      <ng-container matColumnDef="nombre_zona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre_zona </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.nombre_zona}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombre_cda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre_cda </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.nombre_cda}} </td>
      </ng-container>
    -->   
      <!--<ng-container matColumnDef="mostrar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MOSTRAR </th>
        <td mat-cell *matCellDef="let articulo">
          <button mat-raised-button  (click)="mostrar(articulo.codpunto)" matTooltip="Mostrar">
  
          <mat-icon > search</mat-icon> 
  
        </button>
        </td>
     
    </ng-container>
  -->
  <!--
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EDITAR</th>
      
        
        <td mat-cell *matCellDef="let articulo">
        
        <button mat-raised-button (click)="editar(articulo.id_articulo)" class="editar" matTooltip="editar">
  
          <mat-icon > edit</mat-icon> 
  
        </button>  
          
        </td>
      </ng-container>
    
      <ng-container matColumnDef="asignar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ASIGNAR</th>
        
          
          <td mat-cell *matCellDef="let articulo">
          
          <button mat-raised-button (click)="asignar(articulo.id_articulo)"  class="asignar"matTooltip="asignar">
    
            <mat-icon >done</mat-icon> 
    
          </button>  
            
          </td>
        </ng-container>
      
    -->
      
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>