.body{

    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}

.login{
    width: 100%;
    max-width: 330;
    text-align: center;
}
.ancho{
width: 17%;

}

table {
    width: 100%;
 }
 th, td {
    text-align: left;
    padding: 1px;
  }
  .editar{
   cursor: pointer;
   color: #187880;
  }
  .asignar{
    cursor: pointer;
    color: #df0e0e;
   }